.queue div.item{
    height: 60px;
}
.queue div img{
    float: left;
    height: 60px;
    margin: 0 10px;
}
.queue p.song_title{
    color: #cccccc;
    font-size: 13px;
    margin: 3px;
}
.queue p.song_guest{
    color: #cccccc;
    font-size: 10px;
    margin: 5px 0 2px 0;
}
.queue div.active, .queue div.item#player_div{
    background-color: #8A360F;
}
.queue div.item#player_div{
    height: 170px;
}

#add_music_button{
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    width: 100%;
    display: block;
    text-align: center;
    background-color: #B86E00;
    padding: 5px;
    color: black;
    font-weight: bold;
    padding: 5px 0;
}
