doctype html
html(lang='en')
    head
        //-Compatibility
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        //- Title and Icon
        link(rel='shortcut icon', href='imgs/icon/zIcon3.png')
        title Zwayo
        
        //- Latest compiled and minified CSS
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        
        //- CSS
        link(href="css/cover.css" rel="stylesheet")
        link(href="css/index.css" rel="stylesheet")
    body
        .site-wrapper
          .site-wrapper-inner
            .cover-container
              .masthead.clearfix
                .inner
                  a(href="#").deselect
                    img(src='imgs/icon/zIcon3.png', height="48px", width="57px").logo.masthead-brand
                    h3.tech.masthead-brand Zwayo
                  ul.nav.masthead-nav.deselect
                    li#menuMake.active
                      a(href='#', id='linkMake') Make
                    li#menuJoin
                      a(href='#', id='linkJoin') Join
              .inner.cover
                #make
                    form(role='form', action="login.php", method="POST").form-party
                        h2.form-party-heading.deselect Make a party
                        a.btn.btn-lg.btn-default.btn-block.submit Start the party!
                #join(style= "display: none")
                    form(role='form', action="login.php", method="POST").form-party
                        h2.form-party-heading.deselect Join the Party
                        input.form-control(type='text', placeholder='Secret Name', required='required', autofocus='autofocus')
                        br
                        a.btn.btn-lg.btn-default.btn-block.submit Let's party!
              .mastfoot
                .inner.deselect
                    p © 2014 Zwayo
    
        //- jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        //- Bootstrap core JavaScript
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        //- add JS here
        script(src='js/index.js')
        script(src='js/actions.js')