doctype html
html(lang='en')
    head
        //-Compatibility
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        //- Title and Icon
        link(rel='shortcut icon', href='imgs/zIcon.png')
        title Zwayo
        
        //- Latest compiled and minified CSS
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        
        //- CSS
        link(rel='stylesheet', href='css/cover.css')
        link(rel='stylesheet', href='css/index.css')
    body.deselect
        .site-wrapper
          .site-wrapper-inner
            .cover-container
              .masthead.clearfix
                .inner
                  a#home.logo(href='#')
                    img.masthead-brand.icon(src='imgs/zIcon.png', height='48px', width='57px')
                    h3.masthead-brand.text.tech Zwayo
                  ul.nav.masthead-nav
                    li#menuMake.active
                      a#linkMake(href='#') Make
                    li#menuJoin
                      a#linkJoin(href='#') Join
              .inner.cover.robo
                #make
                    form.form-party(role='form', action='login.php', method='POST')
                        h2.form-party-heading Make a party
                        a.btn.btn-lg.btn-default.btn-block.submit Start the party!
                #join(style= "display: none")
                    form.form-party(role='form', action='login.php', method='POST')
                        h2.form-party-heading Join the Party
                        input#name.form-control(type='text', name='name', placeholder='Secret Name', required='required', autofocus='autofocus')
                        br
                        a.btn.btn-lg.btn-default.btn-block.submit Let's party!
              .mastfoot
                .inner
                    p Copyright © 2014 Zwayo All rights reserved.
                    a#linkQueue(href='/queue') Queue
    
        //- jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        //- Bootstrap core JavaScript
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        //- add JS here
        script(src='js/index.js')
        script(src='js/actions.js')