html
    head
        script(src="/css/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        style.
            .bottom {
                position: absolute;
                bottom: 10px;
            }
            .bottom #msg{
                width: 200px;
            }
    body
        input#join(type="submit" value="Join")
        #output
        .bottom
            input#bind(type="submit" value="Bind")
            
        script.
            out = $('#output')
            last = 0
            socket = io.connect('/')
            $('#join').on('click', function(){
                socket.emit( 'ping', {'room': $('#room').val(), 'last': last} )
            })
            $('#bind').on('click', function(){
                socket.on("ping", function(){ out.append("pingus") })
            })
            
            socket.on('connect', function(){
                var start = new Date().getTime()
                out.append("Connected...<br />")
            });
            
            socket.on('update', function(actions){
                console.log(actions)
                for(index in actions){
                    action = actions[index]
                    out.append('<div class="row">'+action.msg+'</div>')
                    last = Math.max(last, action._id)
                }
            });
            
            
            
            
            