html
    head
        //-Compatibility
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        //- Title and Icon
        link(rel='shortcut icon', href='imgs/icon/zIcon.png')
        title Zwayo
        
        //- Latest compiled and minified CSS
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        
        //- CSS
        link(href="css/cover.css" rel="stylesheet")
        link(href="css/queue.css" rel="stylesheet")
    body.deselect
        .site-wrapper
          .site-wrapper-inner
            .cover-container
              .masthead.clearfix
                .inner
                  a(href="#").deselect
                    img(src='imgs/icon/zIcon.png', height="48px", width="48px").logo.masthead-brand
                    h3.tech.masthead-brand Zwayo
                  ul.nav.masthead-nav.deselect
                    li#menuPrevious.active
                      a(href='#', id='linkPrevious')
                        img(src='imgs/nav/previous.png')
                    li#menuPlayPause
                      a(href='#', id='linkPlayPause')
                        img(src='imgs/nav/play.png').playPause
                    li#menuNext
                      a(href='#', id='linkNext')
                        img(src='imgs/nav/next.png')
              .inner.cover
                  #search_bar.add-songs
                    //- TODO: add bar
                    a.btn.btn-lg.btn-default.btn-block + Add Music
                  #queue
              .mastfoot
                .inner
                    p © 2014 Zwayo
    
    
    //- jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    //- Bootstrap core JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //- Initialize Underscore template syntax
    //script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    //- external libs
    //script(src="js/jquery.doubletap.js")
    //- add JS here
    script(src='js/actions.js')
    //script(src='js/queue.js')