html
    head
        //-Compatibility
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        //- Title and Icon
        link(rel='shortcut icon', href='imgs/icon/zIcon.png')
        title Zwayo
        
        //- Latest compiled and minified CSS
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        
        //- CSS
        link(rel='stylesheet', href='css/cover.css')
        link(rel='stylesheet', href='css/queue.css')
    body.deselect
        .site-wrapper
          .site-wrapper-inner
            .cover-container
              #navbar.masthead.clearfix
                .inner
                  a#linkHome.logo(href="/index")
                    img.masthead-brand.icon(src='imgs/icon/zIcon.png', height='48px', width='57px')
                    h3.masthead-brand.text.tech Zwayo
                  ul.nav.masthead-nav
                    li#menuPrevious.active
                      a#linkPrevious(href='#')
                        img(src='imgs/nav/previous.png')
                    li#menuPlayPause
                      a#linkPlayPause(href='#')
                        img.playPause(src='imgs/nav/play.png')
                    li#menuNext
                      a#linkNext(href='#')
                        img(src='imgs/nav/next.png')
              #container.inner.cover
                  #search_bar.add-songs
                    form.form-inline(role='form')
                        .form-group
                            label.sr-only(for='searchinput') Search for songs
                            input#searchinput.input-lg.search-query(name='searchinput', type='text', placeholder='Search for songs', style='color: #000')
                        a.btn.btn-lg.btn-default.submit Add to playlist
                  #queue
              .mastfoot
                .inner
                    p Copyright © 2014 Zwayo All rights reserved.
    
    
    //- jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //- Bootstrap core JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //- add JS here
    script(src='js/actions.js')
    script(src='js/queue.js')