.nav-dimension {
    size: 48px
}
.form-party {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-party .form-party-heading,
.form-party .checkbox {
  margin-bottom: 10px;
}
.form-party .checkbox {
  font-weight: normal;
}
.form-party .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-party .form-control:focus {
  z-index: 2;
}