.add-songs {
    padding: 15px;
    margin: 0 auto;
}
.btn-play{
    max-width: 200px;
    text-align: center;
    display: inline-block;
}

.queue div.item{
    height: 60px;
}
.queue div img{
    float: left;
    height: 60px;
    margin: 0 10px;
}
.queue p.song_title{
    color: #cccccc;
    font-size: 13px;
    margin: 3px;
}
.queue p.song_guest{
    color: #cccccc;
    font-size: 10px;
    margin: 5px 0 2px 0;
}
.queue div.active, .queue div.item#player_div{
    background-color: #bf2015;
}
.queue div.item#player_div{
    height: 210px;
}