
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.musicQueueScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilecarousel_1 */
.musicQueueScreen_mobilecarousel_1 {
	height: 50px!important;
	margin: 0px 0px 0px 0px!important;
	padding: 5px 5px 5px 5px;
}
.musicQueueScreen_mobilecarousel_1 ul {
	margin: 0px 0px 0px 0px!important;
}
/* mobilecarouselitem_2 */
.musicQueueScreen_mobilecarouselitem_2 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_3 */
.musicQueueScreen_mobilecarouselitem_3 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_4 */
.musicQueueScreen_mobilecarouselitem_4 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_5 */
.musicQueueScreen_mobilecarouselitem_5 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_6 */
.musicQueueScreen_mobilecarouselitem_6 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_7 */
.musicQueueScreen_mobilecarouselitem_7 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_8 */
.musicQueueScreen_mobilecarouselitem_8 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilefooter */
.musicQueueScreen_mobilefooter {
	min-height:38px;
}