
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.searchScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* searchMusicBar */
.searchScreen_searchMusicBar {
	margin: 4px 0px 4px 0px;
}
#searchScreen_searchMusicBar-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* mobilefooter */
.searchScreen_mobilefooter {
	min-height:38px;
}